/*
BEM = Block Element Modifier

Block = bloco de conteúdo
Element = elementos
Modifiers = modificadores

BLOCK
- Sem dependencia hierarquica
- Usar somente CLASS (não usar TAG e ID)
ex:
.form {
    background-color:#CCC;
}

-------------------/-------------------

ELEMENT
- Nome é precedido do BLOCK e __
ex:
.form__input {
    
}

-------------------/-------------------

MODIFIERS
- bloco--nome-do-modificador
- form__input--nome-do-modificador
ex:
.form--theme-natal {
    
}

-------------------/-------------------

APLICANDO BEM EM CASCATA
.form--big {
}
.form--big .form__input {
}
*/

